name: Verify Changed Examples

on:
  # push:
  #   branches:
  #     - main
  # pull_request:
  #   branches:
  #     - main

jobs:
  setup-matrix-job:
    name: Get Examples
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create List
        id: example-list
        run: |
          echo INTERNAL

      - name: Set Matrix
        id: set-matrix
        run: |
          examples=$(ls examples | awk '{print "examples/" $0}' | grep -v examples/README.md | grep -v examples/gtk | grep -v examples/Makefile.toml | jq -R -s -c 'split("\n")[:-1]')
          echo "matrix={\"directory\":$examples}" >> "$GITHUB_OUTPUT"

  matrix-job:
    name: Echo Directory
    runs-on: ubuntu-latest
    needs: [setup-matrix-job]
    strategy:
      matrix: ${{ fromJSON(needs.setup-matrix-job.outputs.matrix) }}
      fail-fast: true
    steps:
      - name: running
        run: echo "running job with ${{ matrix.directory }}"
