name: Verify Changed Examples

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  setup-matrix-job:
    name: Get Examples
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Create List
        run: |
          echo INTERNAL

      - name: Set Matrix
        id: set-matrix
        run: |
          echo "matrix={\"directory\":[\"${{ INTERNAL }}\"]}" >> "$GITHUB_OUTPUT"

  matrix-job:
    name: Echo Directory
    runs-on: ubuntu-latest
    needs: [setup-matrix-job]
    strategy:
      matrix: ${{ fromJSON(needs.setup-matrix-job.outputs.matrix) }}
      fail-fast: true
    steps:
      - name: running
        run: echo "running job with ${{ matrix.directory }}"
