name: Verify Examples

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  changed-dirs:
    name: Get Changed Examples
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get changed example files
        id: changed-files
        uses: tj-actions/changed-files@v36
        with:
          files: |
            examples
            !examples/common

      - name: List changed files
        run: |
          echo 'any_changed: ${{ steps.changed-files.outputs.any_changed }}'
          echo '${{ steps.changed-files.outputs.all_changed_files }}'

      - name: Get changed examples
        id: changed-dirs
        uses: tj-actions/changed-files@v36
        with:
          dir_names: true
          dir_names_max_depth: "2"
          files: |
            examples
            !examples/common
          json: true
          quotepath: false

      - name: List changed directories
        run: |
          echo '${{ steps.changed-dirs.outputs.all_changed_files }}'

      - name: Set Matrix
        id: set-matrix
        run: echo "matrix={\"any_changed\":${{ steps.changed-files.outputs.any_changed }},\"directory\":${{ steps.changed-dirs.outputs.all_changed_files }}}" >> "$GITHUB_OUTPUT"

  matrix-job:
    name: Verify
    if: fromJSON(needs.changed-dirs.outputs.matrix).any_changed == true
    needs: [changed-dirs]
    strategy:
      matrix: ${{ fromJSON(needs.changed-dirs.outputs.matrix) }}
    uses: ./.github/workflows/echo-project.yml
    with:
      project_dir: ${{ matrix.directory }}
