name: Verify Example Workflow

on:
  workflow_call:
    inputs:
      project_dir:
        required: true
        type: string
      verify_unchanged:
        required: true
        type: boolean

jobs:
  test:
    name: Verify ${{ inputs.project_dir }}
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo Verifying ${{ inputs.project_dir }}
          if ${{ inputs.verify_uncahnged }}; then
            echo Verify unchanged examples
          else
            echo Only verify examples that changed
          fi
