name: Verify Example Subflow

on:
  workflow_call:
    inputs:
      project_dir:
        required: true
        type: string
      verify_unchanged:
        required: true
        type: boolean

jobs:
  test:
    name: Verify ${{ inputs.project_dir }} example
    runs-on: ubuntu-latest
    steps:
      # Assess changes
      - uses: actions/checkout@v3

      - name: Get files that changed
        id: changed-files
        uses: tj-actions/changed-files@v36

      - name: Show files that changed
        run: |
          echo '${{ toJSON(steps.changed-files.outputs.all_changed_files) }}'
        shell: bash

      - name: Get example files that changed
        id: changed-example-files
        uses: tj-actions/changed-files@v36
        with:
          files: examples

      - name: Show example files that changed
        run: |
          echo '${{ toJSON(steps.changed-example-files.outputs.all_changed_files) }}'
        shell: bash

      - name: Get ${{ inputs.project_dir }} files that changed
        id: changed-project-files
        uses: tj-actions/changed-files@v36
        with:
          files: examples/${{ inputs.project_dir }}

      - name: Show ${{ inputs.project_dir }} files that changed
        run: |
          echo '${{ toJSON(steps.changed-project-files.outputs.all_changed_files) }}'
        shell: bash

      # Verify example project
      - name: Verifying ${{ inputs.project_dir }}
        run: |
          if ${{ inputs.verify_unchanged }}; then
            echo "Verify regardless of change"
            echo Move to examples/${{ inputs.project_dir }}
            cd examples/${{ inputs.project_dir }}
            ls .
          else
            if ${{ steps.changed-project-files.outputs.any_changed }}; then
              echo "Verifying because something changed"
              echo Move to examples/${{ inputs.project_dir }}
              cd examples/${{ inputs.project_dir }}
              ls .
            else
              echo "Skip verification because no changes were found"
            fi
          fi
        shell: bash
