name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# ------------------------------------------------------------------------------------------------------------
# Event `push`: Compare the preceeding commit -> to the current commit of the main branch.
# Event `pull_request`: Compare the last commit of main -> to the current commit of a Pull Request branch.
# ------------------------------------------------------------------------------------------------------------

jobs:
  build:
    runs-on: ubuntu-latest # windows-latest | macos-latest
    name: Test changed-files
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # OR "2" -> To retrieve the preceding commit.

      # Example 1
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v36

        # To compare changes between the current commit and the last pushed remote commit set `since_last_remote_commit: true`. e.g
        # with:
        #   since_last_remote_commit: true

      - name: List all changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "$file was changed"
          done

      # Example 2
      - name: Get changed files in the example folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v36
        with:
          files: examples # Alternatively using: `docs/**` or `docs`

      - name: Run step if any file(s) in the docs folder change
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        run: |
          echo "One or more files in the examples folder has changed."
          echo "List all the files that have changed: ${{ steps.changed-files-specific.outputs.all_changed_files }}"

      # Verify the examples that changed
      - name: Get changed example files
        id: changed-example-files
        uses: tj-actions/changed-files@v36
        with:
          files: examples

      - name: Only verify examples that changed
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        run: ./verify-examples.sh ${{ steps.changed-files.outputs.all_changed_files }}

      # Example 2A
      - name: Get changed dirs in the example folder
        id: changed-example-dirs
        uses: tj-actions/changed-files@v36
        with:
          files: examples # Alternatively using: `docs/**` or `docs`
          dir_names: "true"

      - name: Show dir output
        run: |
          echo '${{ toJSON(steps.changed-example-dirs.outputs) }}'
        shell: bash
