name: Verify Changed Examples

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  create-list:
    name: Find changes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Get projects that changed
        id: changed-projects
        uses: tj-actions/changed-files@v36
        with:
          dir_names: "true"
          json: "true"

      - name: Show projects that changed
        run: |
          echo '${{ fromJSON(steps.changed-projects.outputs.all_changed_files) }}'
        shell: bash
  for-each-project:
    needs:
      - create-list

    name: Verify Changed Examples
    strategy:
      matrix:
        project_dir: [project-a, project-b]
    uses: ./.github/workflows/verify-example-workflow.yml
    with:
      project_dir: ${{ matrix.project_dir }}
      verify_unchanged: false
